.news {
  padding: 6.25rem 0 0 0;
  background: url('../../../assets/bg_1.webp'), var(--clr-bg-dark);
  background-blend-mode: saturation;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.news__itemGroup {
  padding: 0 1.5rem;
  color: var(--clr-white);
}

.news__itemGroup article {
  padding: 1.5rem 0 0 0;
}

.news__tags {
  display: flex;
  padding: 0 1.5rem 1.5rem 1.5rem;
  gap: 0.625rem;
}

.news__toDo {
  text-align: center;
  padding: 3.5rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__toDo span {
  color: var(--clr-white);
  font-size: 0.85rem;
  margin-top: 1rem;
}
