.items {
  padding: 6.25rem 0 0 0;
  background: url('../../../assets/bg_1.webp'), var(--clr-bg-dark);
  background-blend-mode: saturation;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.items__group {
  padding: 0 1.5rem 6.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  gap: 0.75rem;
}

.items__information {
  color: var(--clr-white);
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.items__information span {
  text-transform: none;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.news__toDo {
  text-align: center;
  padding: 0 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
}

.news__toDo span {
  color: var(--clr-white);
  font-size: 0.85rem;
  margin-top: 1rem;
}
