@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;800&family=Space+Grotesk:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-space);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --clr-white: #f0eeff;
  --clr-bg-dark: rgba(3, 16, 28, 0.8);
  --clr-primary: rgba(88, 135, 255, 1);
  --clr-secondary: rgba(166, 130, 255, 1);
  --clr-accent: rgba(113, 90, 255, 1);
  --ff-space: 'Space Grotesk', sans-serif;
  --ff-oxanium: 'Oxanium', cursive;
  --gradient-primary: linear-gradient(
    135deg,
    rgba(105, 147, 255, 1) 0%,
    rgba(65, 118, 255, 1)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    rgba(176, 143, 255, 1) 0%,
    rgba(148, 105, 255, 1)
  );
  --gradient-accent: linear-gradient(
    135deg,
    rgba(111, 202, 255, 1) 0%,
    rgba(49, 180, 255, 1)
  );
  --gradient-warning: linear-gradient(
    135deg,
    rgba(255, 105, 105, 1) 0%,
    rgba(255, 26, 39, 1)
  );
  --gradient-success: linear-gradient(
    135deg,
    rgba(104, 229, 59, 1) 0%,
    rgba(56, 205, 3, 1)
  );
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

h1 {
  font-family: var(--ff-oxanium);
  font-weight: 800;
  font-size: 1.375rem;
}
