@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

:root {
  --clr-white: #f0eeff;
  --clr-bg-dark: rgba(3, 16, 28, 0.8);
  --clr-primary: rgba(88, 135, 255, 1);
  --clr-secondary: rgba(166, 130, 255, 1);
  --clr-acent: rgba(113, 90, 255, 1);
  --ff-space: 'Space Grotesk', sans-serif;
}
