.button {
  outline: none;
  border: none;
  background: var(--gradient-primary);
  color: var(--clr-white);
  font-family: var(--ff-space);
  font-size: 0.625rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.625rem 1rem;
  -webkit-box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

.success {
  background: var(--gradient-success);
}

.warning {
  background: var(--gradient-warning);
}

.primary {
  background: var(--gradient-primary);
}

.secondary {
  background: var(--gradient-secondary);
}

.accent {
  background: var(--gradient-accent);
}

.icon svg {
  height: 0.5rem;
  width: auto;
  position: relative;
  top: 0.025rem;
  margin-right: 0.5rem;
}
