.tag {
  outline: none;
  border: none;
  background: var(--gradient-primary);
  color: var(--clr-white);
  font-family: var(--ff-space);
  font-size: 0.625rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.475rem 0.75rem;
  -webkit-box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

.br {
  background: var(--gradient-primary);
}

.stw {
  background: var(--gradient-secondary);
}

.creative {
  background: var(--gradient-accent);
}

.date {
  background: var(--clr-white);
  color: var(--clr-bg-dark);
}
