.profilePicture {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  padding: 0.1875rem;
  background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-accent));
  -webkit-box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.profileItem {
  display: flex;
  align-items: center;
  padding-bottom: 0.25rem;
}

.profileItem__notPicture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profileItem button {
  justify-content: flex-end;
}

.profileItem__info {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  padding-left: 0.75rem;
}

.profileItem__info span {
  font-weight: 400;
  font-weight: 0.625rem;
}
