.cosmetic {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 1rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.33);
  position: relative;
  box-shadow: 0 0.25rem 0.375rem 0 rgb(0 0 0 15%);
}
@media (max-width: 375px) {
  .cosmetic {
    height: 6.25rem;
    width: 100%;
  }
}

.cosmetic img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
}

.cosmetic__info {
  position: absolute;
  left: 0.35rem;
  right: 0.35rem;
  bottom: 0.35rem;
  background-color: rgba(7, 26, 44, 0.3);
  border-radius: 0.75rem;
  color: var(--clr-white);
  text-align: center;
  padding: 0.5rem 0.2rem;
  font-family: var(--ff-oxanium);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.3125rem 0 rgb(0 0 0 15%);
}

.cosmetic__price {
  display: inline-block;
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.33);
}

.cosmetic__price img {
  height: 1.25rem;
  width: auto;
  position: relative;
  margin-right: 0.2rem;
  top: 0.25rem;
}
